button {
  padding: 0;
}

.notes.changeButton {
  background-color: #5d6d7e;
  border: 2px solid #117a65;
  border-radius: 10px;
  padding-top: 0;
  color: #eafaf1;
  display: flex;
  flex-direction: column;
  margin: 1% 1%;
  flex: 25%;
}

.defaultButton {
  font-size: 25px;
  background-color: #0e6655;
  border: 0;
  color: #eafaf1;
  border-radius: 15px;
  padding: 10px 20px;
  box-shadow: 2px 2px 2px rgb(55, 54, 54);
}

.selectorButton {
  background-color: #34495e;
  color: #eafaf1;
  margin: 0.3% 1%;
  padding: 0 1%;
  border: 1px solid #212f3c;
}
.selectorButton:hover {
  background-color: #5d6d7e;
}
.selectorButton:active {
  background-color: #2e4053;
}

.defaultButton:hover {
  background-color: #117a65;
}

.defaultButton:active {
  background-color: #0b5345;
}

.leaveButton {
  background-color: #b03a2e;
}

.leaveButton:hover {
  background-color: #cb4335;
}

.leaveButton:active {
  background-color: #943126;
}
