html {
  height: 100%;
}

body {
  background-color: #212f3c;
  margin: 0 0;
  color: #eafaf1;
  height: 100%;
}

#mainHTMLPage {
  display: none;
}

.HTMLPages {
  height: 100%;
  width: 100%;
}

#mainHTMLPage.active {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#firstHTMLPage.active {
  display: none;
}

.section {
  height: 100%;
}

#mainNoteWrapper {
  width: 100%;
}

hr {
  border: 1px solid #0e6655;
  margin: auto;
}

#mainBox {
  height: 70%;
  width: 70%;
  margin: 10% auto;
}

#selector {
  height: 8%;
  background-color: #34495e;
  border-bottom: 2px solid #117a65;
  display: flex;
  justify-content: space-between;
}

.topBar {
  width: auto;
  display: flex;
  justify-content: space-between;
  background-color: #2c3e50;
  border: 2px solid #117a65;
  border-top: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

p.topP {
  font-size: 40px;
  margin: 15px 10px 15px 10px;
}

#notesBox {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  background-color: #2e4053;
  flex: 25%;
}

.notes {
  border: 2px solid #117a65;
  border-radius: 10px;
  background-color: #5d6d7e;
}

.noteTitle {
  margin: 0;
  padding: 5px 0;
  border-radius: 10px;
  background-color: #34495e;
}

.notePreview {
  padding: 3px 0;
}

.section.active#mainNoteWrapper {
  display: none;
}
.hiddenElements {
  visibility: hidden;
  font-size: 20px;
  color: #abb2b9;
}

.hiddenElements.active {
  visibility: visible;
}
